/* src/styles/global.css */
.hero-image {
    width: 100%; /* Adjust as needed */
    max-width: 1200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .header-margin {
    margin-top: 0.5rem;  /* Adjust as needed */
    margin-bottom: 0.5rem; /* Adjust as needed */
  }