---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About NELA Cleaners - Your Trusted Cleaning Experts">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small (but mighty!) team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-2xl text-gray-800">
        Crafting Clean Spaces with Expertise, Honesty, and Community Focus.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        <p>Welcome to NELA Cleaners! We’re a small, woman-owned and operated cleaning service proudly serving Northeast Los Angeles. Our dedicated team personally handles many of the cleanings. We’re passionate about applying our knowledge of best practices and the right products to ensure every job is done meticulously and nothing gets damaged.</p>

        <p>At NELA Cleaners, we value price transparency and conduct final walkthroughs to ensure everything is to your satisfaction. We guarantee your satisfaction or we'll make it right! We also value building lasting relationships with our customers, so you receive reliable and consistent service every time.</p>
        
        <p>We understand the unique challenges of managing a household with kids, pets, mental health issues, disabilities, and more. Our fixed pricing on most services means no surprise charges, and whether you need a standard clean, deep clean, or specialized service like post-renovation or event cleaning, we’ve got you covered. We also excel in move-in, move-out, and turnover cleanings.</p>
        
        <p>As a locally owned business, we take pride in making your space shine with care and expertise. We believe a clean space contributes to a happier home, and we’re here to help make that happen.</p>
        
      </p>

      <!-- 
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  -->
  </Container>
</Layout>
