---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    //name: "Standard",
    price: "Standard Cleaning",
    popular: false,
    features: [
      "Lifetime free",
      "Up to 3 users",
      "Unlimited Pages",
      "Astro Sub domain",
      "Basic Integrations",
      "Community Support",
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Deep Cleaning",
    price: "Deep Cleaning",
    popular: true,
    features: [
      "All Free Features",
      "Up to 20 users",
      "20 Custom domains",
      "Unlimited Collaborators",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Move In/Move Out Cleaning",
    price: "Move In/Move Out Cleaning",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Event/Party Cleaning",
    price: "Event/Party Cleaning",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Post-Renovation Cleaning",
    price: "Post-Renovation Cleanin",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Turonver Cleaning",
    price: "Turnover Cleaning",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Services</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
