---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    //name: "Standard",
    price: "Standard Cleaning",
    popular: false,
    features: [
      "General Dusting",
      "Vacuuming",
      "Sweeping",
      "Mopping",
      "Trash Removal & Emptying Bins",
      "Kitchen Surface Cleaning",
      "Bathroom Cleaning",
      "Bedroom Cleaning",
      "Living Room Cleaning",
      "Interior Window Cleaning",
      "Wiping Down Light Switches & Door Handles",
      "Wiping Down Baseboards & Moldings",
      "Spot Cleaning",
      "Restocking Supplies",
      "Organizing & Straightening"
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Deep Cleaning",
    price: "Deep Cleaning",
    popular: true,
    features: [
      "Detailed Dusting",
      "Vacuuming",
      "Sweeping",
      "Mopping",
      "Kitchen Deep Cleaning",
      "Bathroom Deep Cleaning",
      "Detailed Bedroom Cleaning",
      "Interior Window Cleaning",
      "Trash Removal",
      "Spot Cleaning",
      "Inside Cabinets",
      "Inside Fridge",
      "Wall Washing",
      "Final Inspection"
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Move In/Move Out Cleaning",
    price: "Move In/Move Out Cleaning",
    popular: false,
    features: [
      "General Dusting",
      "Vacuuming",
      "Sweeping",
      "Mopping",
      "Detailed Kitchen Cleaning",
      "Detailed Bathroom Cleaning",
      "Detailed Bedroom Cleaning",
      "Interior Window Cleaning",
      "Cabinet & Drawer Cleaning",
      "Carpet Cleaning",
      "Inside Fridge",
      "Inside Oven",
      "Wall Washing",
      "Trash Removal",
      "Spot Cleaning",
      "Final Inspection"
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Event/Party Cleaning",
    price: "Event/Party Cleaning",
    popular: false,
    features: [
      "General Trash & Debris Removal",
      "Sweeping",
      "Mopping",
      "Vacuuming",
      "Surface Cleaning",
      "Spot Cleaning",
      "Restroom Cleaning & Restocking",
      "Cleaning High-Touch Areas",
      "Removal of Decorations & Party Supplies",
      "Sweeping Outdoor Spaces",
      "Post-Event Inspection",
      "Recycling Sorting & Disposal"
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Post-Renovation Cleaning",
    price: "Post Renovation Cleaning",
    popular: false,
    features: [
      "Removal of Dust & Debris",
      "Vacuuming",
      "Sweeping",
      "Mopping",
      "Detailed Kitchen Cleaning",
      "Detailed Bathroom Cleaning",
      "Interior Window Cleaning",
      "Light Fixtures Cleaning",
      "Ceiling Fans Cleaning",
      "Cabinet Cleaning",
      "Drawer Cleaning",
      "Walls & Baseboards",
      "Spot Cleaning",
      "Vent Cleaning",
      "Sinks, Faucets & Fixtures",
      "Mirrors & Glass Surfaces",
      "Polishing Surfaces",
      "Trash & Debris Removal",
      "Final Inspection"
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
  {
    //name: "Office Cleaning",
    price: "Office Cleaning",
    popular: false,
    features: [
      "General Dusting",
      "Vacuuming",
      "Sweeping",
      "Mopping",
      "Desk & Surface Sanitizing",
      "Restroom Cleaning & Disinfection",
      "Kitchen/Breakroom Cleaning",
      "Window Cleaning (Interior Only)",
      "Floor Care (Carpet & Hard Surfaces)",
      "Disinfection of High-Touch Areas (Door Handles, Light Switches)",
      "Office Equipment Dusting (Monitors, Keyboards)",
      "Spot Cleaning (Walls, Doors)",
      "Emptying & Sanitizing Trash Bins",
      "Restocking Supplies (Paper Towels, Soap, Toilet Paper)",
      "Conference Room Cleaning"
    ],
    button: {
      text: "Book",
      link: "https://nelacleanerslosangeles.bookingkoala.com/booknow?embed=true",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Services</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
