---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "For Busy Lives",
    description:
    "We understand how hectic life can get, whether you're juggling work, family, or both. NELA Cleaners takes the stress out of maintaining a clean home, so you can focus on what really matters.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Perfect for Parents and Pet Owners",
    description:
      "We know that life with kids and pets can be messy. Our team is here to keep your home clean and comfortable for the whole family, furry members included.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Event Ready",
    description:
      "Hosting an event? Let us handle the cleanup before or after your big day, so you can enjoy the moment without worrying about the mess.",
    icon: "bx:bxs-data",
  },
  {
    title: "Post-Renovation Rescue",
    description:
      "Just finished a renovation? Our deep cleaning services will remove all the dust and debris, leaving your space spotless and ready to enjoy.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Premium Hotel-Style Turnover Cleaning",
    description:
      "Leave a lasting impression with our premium hotel-style turnover cleaning. NELA Cleaners provides a seamless, meticulous service with luxurious touches and linen service, ensuring your space shines and earns those 5-star reviews.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Move In/Move Out Refresh",
    description:
      "Make your move stress-free with our Move-In/Move-Out Cleans. NELA Cleaners ensures a spotless finish, whether you're settling into a new home or prepping your old one, helping you start fresh or secure your deposit.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    We’ve Got Your Cleaning Covered
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    At NELA Cleaners, we know a clean space makes all the difference, and we use the best practices to make it happen. We offer a range of services to suit your needs:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
