---
import { Picture } from "astro:assets";
import heroImage from "assets/nela-hero-2.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";

---

<main
  class="grid lg:grid-cols-2 place-items-center pt-4 pb-4 md:pt-8 md:pb-16">
  <div class="py-4 md:order-1 hidden md:block">
    <Picture
    src={heroImage}
    alt="Astronaut in the air"
    widths={[600, 1200, 1800]}
    sizes="(max-width: 1200px) 100vw, 1200px"
    loading="eager"
    format="avif"
    class="hero-image"
  />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Transforming spaces, one clean at a time. 
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      At NELA Cleaners, we make your space shine with a range of professional cleaning services tailored to your needs. From deep cleaning to routine upkeep, our small dedicated team is here to ensure your home or business stays spotless and welcoming.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

         Book Now
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         Give Us a Call
      </Link>
    </div>
  </div>
</main>
