---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';




export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

  const makeTitle = title
  ? `${title} | NELA Cleaners`
  : "NELA Cleaners - Residential & Commercial Cleaning in Los Angeles, CA";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="NELA Cleaners">
    <link rel="icon" type="image/svg+xml" href="/nela-logo.svg" />
    <meta name="keywords" content="cleaning services, Los Angeles, deep cleaning, post-renovation cleaning, move-in cleaning, move-out cleaning, commercial cleaning">
    <title>{makeTitle}</title>
    <SEO
      title={`NELA Cleaners | Residential & Commercial Cleaning in Los Angeles, CA`}
      description="NELA Cleaners offers expert residential and commercial cleaning services in Los Angeles, CA. Specializing in deep cleans, post-renovation cleanings, and move-in/move-out cleanings."
      canonical={canonicalURL}
      social={{
        instagram: {
          creator: "@nelacleaners",
          site: "@nelacleaners",
          card: "summary_large_image",
        },
        facebook: {
          page: "NELA Cleaners",
          url: "https://www.facebook.com/nelacleaners",
        }
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `NELA Cleaners | Expert Cleaning Services in Los Angeles`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "NELA Cleaners provides top-notch cleaning services in Los Angeles.",
        },
      }}
    />
  </head>
  
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
